@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/* Ensure html and body fill the viewport height and center content */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Profile container styling for centering and sizing */
.profile-container {
  display: flex;
  width: 95vw; 
  height: 85vh;
  padding: 0rem; 
  box-sizing: border-box;
  background-color: #fff; 
  border-radius: 0px;
  overflow-y: auto; 
}

.row {
  display: flex;
  width: 100%;
}

/* Column adjustments */
.col-3, .col-9 {
  padding: 0;
}

.col-3 {
  flex: 1;
}

.col-9 {
  flex: 3;
}

/* Card styling */
.card {
  background: #fff;
  border-radius: 0px;
  margin: 0rem 0; 
  box-shadow: none;
  width: 100%; /* Allow card to use full width of the column */
}

/* Card body padding */
.card-body {
  padding: 2rem;
}

/* Profile Sidebar Styling */
.user-profile {
  text-align: center;
}

/* Avatar Container */
.avatar-container {
  position: relative;
  width: 200px; 
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 0px solid;
  margin: 0 auto;
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* Camera Icon Styling */
.camera-icon {
  position: absolute;
  bottom: 70%; 
  right: 20%;  
  background-color: #ffffff;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  transform: translate(50%, 50%); 
  cursor: pointer;
}

.camera-icon svg {
  color: #333;
  font-size: 1.2em;
}

.sidebar-text {
  font-family: 'Lato', sans-serif;
  color: #333; /* Dark color for text */
}

.user-name {
  font-size: 1.7rem;
  font-weight: 700; /* Bold font weight */
  margin-top: 1rem;
}

.user-email {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
}

.user-info {
  font-size: 1rem;
  font-weight: 600;
  color: #555;
  margin: 1rem;
}

/* Section titles and form styling */
.section-title {
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem; /* Adjust the size as needed */
    font-weight: bold;
    color: #555;
    margin-bottom: 0.5rem;
}

/* Form grid for two columns */
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  gap: 1.5rem;
  padding-bottom: 0.5rem;
}

/* Apply consistent font style and appearance to all form elements */
.form-control,
.form-group input[type="date"],
.form-group input[type="text"] {
  font-family: 'Lato', sans-serif;
  font-size: 0.8rem; 
  color: #333; 
  padding: 0.6rem; 
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0rem; 
}

.form-group input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form-group label {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 0.1rem;
}



/* Styling for the nationality dropdown using custom-select prefix */
.custom-select__control {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-height: 38px;
  font-size: 0.8rem;
  font-family: 'Lato', sans-serif;
}

.form-group.nationality-group label {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: #333;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
  margin-bottom: 2rem;
}

.custom-select__placeholder,
.custom-select__single-value,
.custom-select__option {
  color: #333;
  font-size: 0.8rem;
  font-family: 'Lato', sans-serif;
}


/* Password section */
.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container .form-control {
  padding-right: 2rem;
}

.toggle-icon {
  position: absolute;
  right: 1rem;
  cursor: pointer;
  width: 20px; /* Adjust as needed */
  height: 20px;
}


/* Button styling */
.text-right {
  margin-top: 1.4rem;
  display: flex;
  justify-content: left;
  gap: 1rem;
}

.btn-primary {
  background-color: #FF4B2B;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
}

.btn-secondary {
  background-color: #6c757d !important;
  color: #fff !important;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
}
