@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

.friend-page {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: 'Lato', sans-serif;
}

/* Left Column - Search Friend */
.left-column {
    width: 20%;
    height: 100%;
    padding: 1.5rem;
    background-color: #272D4e;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px;
    overflow-y: auto; /* Add scroll if content exceeds fixed height */
}

/* Middle Column - Vertical Tabs */
.middle-column {
    width: 20%;
    height:100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3b4883;
    border-radius: 0px;
    margin-right: -1rem;
    overflow-y: auto; /* Add scroll if content exceeds fixed height */
}

/* Right Column - Result Table */
.right-column {
    width: 60%;
    height: 100%;
    padding: 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    overflow: hidden; 
}

.message-container {
    padding: 10px 15px; 
    margin: 20px 0px; 
    border-radius: 4px; 
    font-size: 16px; 
    color: #fff;
    text-align: center;
}

.modal-content {
    width: 100%;
    max-width: 100%; 
    margin-top: 30px;
    padding: 15px;
    background-color: #fff; 
    border-radius: 8px;
    text-align: center;
}

.modal-content .avatar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.modal-content p {
    font-size: 16px; /* Enlarge font size */
    font-weight: bold;
    margin: 20px 0;
    color: #333; /* Adjust color as desired */
}

.avatar {
    width: 80px; 
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for styling */
}

.modal-button {
    padding: 10px 12px; 
    font-size: 13px; 
    color: #fff; 
    background-color: #FF4B2B;
    border: none; 
    border-radius: 25px; 
    cursor: pointer; 
    margin: 5px; 
}

/* Hover effect for better interaction */
.modal-button:hover {
    background-color: #dc3545; 
}

/* Cancel button styling */
.modal-button.cancel {
    background-color: #FF4B2B; 
}

/* Table container with fixed height */
.friend-table-container {
    width: 100%;
    height: 800px; 
    overflow-y: auto; 
}

.pending-table, .friend-list-table {
    width: 95%;
    border-collapse: collapse;
    table-layout: fixed;
}

/* Table cells */
.pending-table th, .pending-table td,
.friend-list-table th, .friend-list-table td {
    padding: 10px 20px;
    border: 1px solid #ddd;
    font-size: 15px;
    text-align: left;
    box-sizing: border-box;
}

.pending-table th, .friend-list-table th {
    background-color: #f4f4f4;
}

.friend-search-bar-container {
    display: flex;
    justify-content: flex; /* Right-aligns the search bar */
    margin-bottom: 10px; /* Adds space between the search bar and the table */
}

.friend-search-bar {
    width: 40%; 
    max-width: 300px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


/* Tab styling */
.tab {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tab button {
    width: 100%;
    padding: 1rem;
    margin-top: 0px;
    background-color: #8d99ae;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.tab button.active {
    background-color: #2b2d42;
}

.tab button:hover::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px; 
    background-color: white;
}

/* Accept button styling */
.accept-button {
    padding: 4px 12px; 
    font-size: 12px;
    color: white; 
    background-color: #28a745; 
    border: none; 
    border-radius: 8px; 
    margin-right: 15px; 
    cursor: pointer;
}

/* Reject button styling */
.reject-button {
    padding: 4px 12px; 
    font-size: 13px; 
    color: white; 
    background-color: #FF4B2B;
    border: none; 
    border-radius: 8px;
    cursor: pointer;
}

/* Pagination Styling */
.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    padding-bottom: 20px; /* Adds spacing at the bottom of the page */
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #FF4B2B;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #c82333;
    transform: scale(1.05);
}
